.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container>.item{
    height: 200px;
    width: 350px;
    background-color: teal;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    box-shadow: -3px -3px 3px pink,3px 3px 3px yellow;
}
.container1{
    justify-content: space-evenly;
}
.container2{
    justify-content: center;
    height: 500px;
    border: 2px solid greenyellow;
    align-items: baseline;
}